@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    
    <section class="sports">
        <p>
            Huge range of sports products with highest quality.<br />

            Quality Increase Interest.
        </p>
    </section>
    
</main>

<style>
    body {
        background-image: url('../Images/about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sports {
        font-family: sans-serif;
        color: black;
        text-align: center;
        font-size:30px;
    }
</style>