@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    
    <br />
    
    <section class="sports">

        <address>
            <strong>Support:</strong><br />
            <a href="sachin.sports@gmail.com">Sachin.Sports@gmail.com</a><br />
            <p>Contact: +91 9876567890</p>
        </address>
    </section>
</main>
<style>
    body {
        background-image: url('../Images/contact2.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
    }

    .sports {
        font-family: sans-serif;
        color: white;
        text-align: left;
        font-size: 30px;
    }
</style>