@{
    ViewBag.Title = "Home Page";
}
<section class="sports" aria-labelledby="aspnetTitle">
    <h1><b>SACHIN SPORTS</b> </h1>
    <br />
    <h4>
        GEAR UP FOR VICTORY <br />
        WITH OUR TOP NOTCH SPORTS<br />
        EQUIPMENT AND APPAREL !!
    </h4>
    
</section>
<style>
    body {
        background-image: url('../Images/s2.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
    .sports h4{
        font-family:sans-serif;
        color:cornsilk;
        text-align:left;
    }
    sports h1{

    }
</style>